.footer{
    background-color: $grey;
    padding: 22px 25px;
    color: white;
    &__logo{
        height: 27px;
        margin-bottom: 16px;
    }
    &__menu{
        @include desktop{
            display: flex;
            flex-direction: row;
            gap: 30px;
            line-height: 2em;
        }
    }
    &-menu__item{
        list-style: none;
        & a{
            display: flex;
            gap: 10px;    
            margin-top: 7px;
        }
    }
    & .fa-solid{
        color: #ffffff;
    }
    @include desktop{
        padding: 30px;
        display: flex;
        flex-direction: row-reverse;
        gap: 50px;
    }
}