.header{
    display: flex;
    height: 63px;
    padding: 15px;
    justify-content: center;
    align-content: center;
    background-color: white;
    position: relative;
    @include desktop{
        padding: 30px;
        height: 96px;
    }
    & .fa-arrow-left{
        position: absolute;
        color: black;
        left: 15px;
        top: 0;
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 20px;
        @include desktop{
            left: 30px;
        }
    }
}
.header__logo{
    width: 200px;
}
