body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

h1 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 17px;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 24px;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 5px;
}

p {
  font-weight: 300;
  font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

.fa-grey {
  color: #353535;
}

.fa-grey3 {
  color: #7e7e7e;
}

.fa-primary-color {
  color: #9356DC;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: #F6F6F6;
}

.header {
  display: flex;
  height: 63px;
  padding: 15px;
  justify-content: center;
  align-content: center;
  background-color: white;
}
@media screen and (min-width: 1080px) {
  .header {
    padding: 30px;
    height: 96px;
  }
}

.header__logo {
  width: 200px;
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
  color: white;
}
.footer__logo {
  height: 27px;
  margin-bottom: 16px;
}
@media screen and (min-width: 1080px) {
  .footer__menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    line-height: 2em;
  }
}
.footer-menu__item {
  list-style: none;
}
.footer-menu__item a {
  display: flex;
  gap: 10px;
}
.footer .fa-solid {
  color: #ffffff;
}
@media screen and (min-width: 1080px) {
  .footer {
    padding: 30px;
    display: flex;
    flex-direction: row-reverse;
    gap: 50px;
  }
}

section {
  padding: 55px 20px;
}

.section--white {
  background-color: white;
}
@media screen and (min-width: 1080px) {
  .section--white {
    padding: 50px;
  }
}
.section--darkgrey {
  background-color: #EAEAEA;
}
.section--grey {
  background-color: #F6F6F6;
}
@media screen and (min-width: 1080px) {
  .section--grey {
    padding: 30px;
  }
}
@media screen and (min-width: 1080px) {
  .section {
    padding-right: 180px !important;
    padding-left: 180px !important;
  }
}

.location {
  display: flex;
  width: 100%;
  padding: 15.5px;
  justify-content: center;
  gap: 17px;
}

.button {
  border: 0;
  flex-shrink: 0;
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin: 30px;
  cursor: pointer;
}
.button a {
  padding: 13px 19px;
  border-radius: 25px;
  background-image: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 300ms ease-out;
}
.button a:hover {
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 100vmax rgba(255, 255, 255, 0.15);
}

.fonctionnement__steps {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1080px) {
  .fonctionnement__steps {
    flex-direction: row;
    gap: 37px;
  }
}

.fonctionnement-step {
  flex: 1;
  padding: 30px 35px;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin: 12px 0;
  display: flex;
  position: relative;
  gap: 25px;
  margin-left: 12px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement-step .step__number {
  position: absolute;
  left: -12px;
  background-color: #9356DC;
  width: 24px;
  height: 24px;
  border-radius: 24px;
  color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restaurants__cards {
  display: grid;
}
@media screen and (min-width: 1080px) {
  .restaurants__cards {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 100px;
  }
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  margin: 9px 0;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  position: relative;
}
.restaurant-card__img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.restaurant-card__infos {
  background-color: white;
  padding: 16px 25px 16px 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card--nouveau::before {
  content: "Nouveau";
  border-radius: 2px;
  position: absolute;
  font-size: 14px;
  top: 13px;
  right: 12px;
  padding: 7px 9px;
  background-color: #99E2D0;
  color: #008766;
}

.card-infos__location {
  font-size: 17px;
  font-weight: 300;
}
.card-infos__like {
  font-size: 23px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.card-infos__like .fa-heart {
  position: absolute;
}
.card-infos__like .fa-heart.fa-solid {
  background: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: all 200ms ease-in-out;
}
.card-infos__like .fa-heart.fa-solid:hover {
  opacity: 1;
}
.card-infos__like .fa-heart.fa-regular {
  color: #101010;
}

.loader {
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  display: none;
}
.loader__logo {
  height: 100dvh;
}
.loader-logo {
  position: absolute;
  animation: loader 3000ms cubic-bezier(0.74, -0.17, 0.4, 1.13) infinite;
}
.loader-logo--oh {
  animation-delay: 0ms;
}
.loader-logo--my {
  animation-delay: 500ms;
}
.loader-logo--food {
  animation-delay: 1000ms;
}

@keyframes loader {
  0% {
    transform: translateY(150dvh);
  }
  30% {
    transform: translateY(0dvh);
  }
  70% {
    transform: translateY(0dvh);
  }
  100% {
    transform: translateY(-150dvh);
  }
}
.hero {
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media screen and (min-width: 1080px) {
  .hero {
    gap: 18px;
    padding: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
