.button{
    border: 0;
    border-radius: 25px;
    flex-shrink: 0;
    background: linear-gradient(#9356DC, #FF79DA);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 19px;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 30px;
}