.button{
    border: 0;
    flex-shrink: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 30px;
    cursor: pointer;
    & a{
        padding: 13px 19px;
        border-radius: 25px;
        background-image: $button-gradient;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
        transition: box-shadow 300ms ease-out;
        &:hover{
            box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25), inset 0 0 0 100vmax rgba(255, 255, 255, 0.15);
        }
    }
}