.background{
    padding: 0;
    width: 100%;
    z-index: -1;
    position: relative;
    &__img{
        width: 100%;
    }
}

.container{
    background-color: $background;
    padding: 32px 13px;
    margin-top: -50px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
.restaurant-title{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 30px 0 5px;
    &__name{
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        margin-bottom: 0;
    }
}