$green: #99E2D0;
$green-font: #008766;
$blue: #89C8FA;
$blue2: #003A68;
$primary: #9356DC;

$background: #F6F6F6;
$grey: #353535;
$grey2: #EAEAEA;

$button-gradient: linear-gradient(175deg, #9356DC 0%, #FF79DA 100%);

$breakpoints: (
 desktop: 1080px
);

@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}